body{
    font-family: Helvetica, sans-serif;
}

p, button{
    margin-left: 5px;
}

.sayHello, .evenOdd, .isPrime, .printTable{
    height: 100px;
    width: 400px;
    border: 1px solid black;
    margin: 5px 0 0 5px;
    background-color:rgb(185, 202, 233);
}
